In [1]:
import pandas as pd

In [2]:
data=pd.read_excel("C:\\Users\\mayur\\OneDrive\\Desktop\\New Microsoft Excel Worksheet.xlsx")

In [3]:
data.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11

In [4]:
data["Player"].str.split("(")

0      [DG Bradman , AUS)]
1        [HC Brook , ENG)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [RG Pollock , SA)]
              ...
61     [KD Walters , AUS)]
62    [GC Smith , ICC/SA)]
63    [WH Ponsford , AUS)]
64      [SJ McCabe , AUS)]
65     [DR Jardine , ENG)]
Name: Player, Length: 66, dtype: object

In [5]:
data["Player"].str.split("(").str[1]

0        AUS)
1        ENG)
2        AUS)
3         SA)
4         SA)
       ...
61       AUS)
62    ICC/SA)
63       AUS)
64       AUS)
65       ENG)
Name: Player, Length: 66, dtype: object

In [6]:
data["Player"].str.split("(").str[1].str.split(")")

0        [AUS, ]
1        [ENG, ]
2        [AUS, ]
3         [SA, ]
4         [SA, ]
         ...
61       [AUS, ]
62    [ICC/SA, ]
63       [AUS, ]
64       [AUS, ]
65       [ENG, ]
Name: Player, Length: 66, dtype: object

In [7]:
data["Player"].str.split("(").str[1].str.split(")").str[0]

0        AUS
1        ENG
2        AUS
3         SA
4         SA
       ...
61       AUS
62    ICC/SA
63       AUS
64       AUS
65       ENG
Name: Player, Length: 66, dtype: object

In [8]:
data["Country"]=data["Player"].str.split("(").str[1].str.split(")").str[0]

In [9]:
data.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,AUS
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,ENG
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA

In [10]:
pd.set_option("display.max_rows",None)     #for all data...

In [11]:
data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,AUS
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,ENG
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,WI
6,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6,ENG
7,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125,4,ENG
8,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591,27,ENG
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,-,-,15,19,6,258,2,WI
10,SPD Smith (AUS),2010-2023,102,181,22,9320,239,58.61,17292,53.89,32,39,9,1026,52,AUS
11,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419,27,ENG
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32,WI
13,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,SL
14,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,SL
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8,ENG
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,-,15,14,1,107,11,WI
17,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358,7,ENG
18,DJ Mitchell (NZ),2019-2023,19,29,4,1415,190,56.60,2569,55.07,5,9,1,140,27,NZ
19,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,ICC/SA
20,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178+,29.21,3,6,2,37,2,ENG
21,KS Williamson (NZ),2010-2023,95,166,16,8239,251,54.92,16014,51.44,29,33,10,910,21,NZ
22,KS Williamson (NZ),2010-2023,95,166,16,8239,251,54.92,16014,51.44,29,33,10,910,21,NZ
23,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65,1,WI
24,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,IND
25,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16,AUS
26,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108+,63.88,9,14,3,115,6,SA
27,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437+,54.04,51,68,14,2058,69,IND
28,M Labuschagne (AUS),2018-2023,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12,AUS
29,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88,ICC/WI
30,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788,48,PAK
31,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,ICC/IND
32,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,PAK
33,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,PAK
34,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,AUS
35,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035+,44.86,3,9,1,102,3,AUS
36,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20,ZIM
37,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,AUS
38,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36,WI
39,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184+,43.35,34,45,12,908,26,IND
40,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,AUS
41,Abdullah Shafique (PAK),2021-2023,14,26,2,1220,201,50.83,2764,44.13,4,4,2,119,18,PAK
42,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,AUS
43,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64,SA
44,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002+,41.09,27,63,11,1161,28,AUS
45,JE Root (ENG),2012-2023,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43,ENG
46,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10,952,84,WI
47,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731+,38.81,17,28,10,342,3,ENG
48,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,SL
49,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,ICC/PAK
50,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488+,40.16,9,22,11,240,11,WI
51,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619+,30.04,4,3,3,38,0,ENG
52,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,ICC/IND
53,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24,IND
54,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5,PAK
55,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39,AUS
56,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885+,37.74,3,9,2,123,20,SA
57,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3,41,1,SA
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,-,-,5,6,3,51,0,ENG
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,SL
60,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427,1,AUS
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,AUS
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,ICC/SA
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,AUS
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,AUS
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,ENG

In [12]:
data["Country"]

0         AUS
1         ENG
2         AUS
3          SA
4          SA
5          WI
6         ENG
7         ENG
8         ENG
9          WI
10        AUS
11        ENG
12         WI
13         SL
14         SL
15        ENG
16         WI
17        ENG
18         NZ
19     ICC/SA
20        ENG
21         NZ
22         NZ
23         WI
24        IND
25        AUS
26         SA
27        IND
28        AUS
29     ICC/WI
30        PAK
31    ICC/IND
32        PAK
33        PAK
34        AUS
35        AUS
36        ZIM
37        AUS
38         WI
39        IND
40        AUS
41        PAK
42        AUS
43         SA
44        AUS
45        ENG
46         WI
47        ENG
48         SL
49    ICC/PAK
50         WI
51        ENG
52    ICC/IND
53        IND
54        PAK
55        AUS
56         SA
57         SA
58        ENG
59         SL
60        AUS
61        AUS
62     ICC/SA
63        AUS
64        AUS
65        ENG
Name: Country, dtype: object

In [13]:
data["Country"].replace("ICC/","",regex=True,inplace=True)    #without regex replace is not possible.

In [14]:
data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,AUS
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,ENG
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,WI
6,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6,ENG
7,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125,4,ENG
8,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591,27,ENG
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,-,-,15,19,6,258,2,WI
10,SPD Smith (AUS),2010-2023,102,181,22,9320,239,58.61,17292,53.89,32,39,9,1026,52,AUS
11,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419,27,ENG
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32,WI
13,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,SL
14,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,SL
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8,ENG
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,-,15,14,1,107,11,WI
17,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358,7,ENG
18,DJ Mitchell (NZ),2019-2023,19,29,4,1415,190,56.60,2569,55.07,5,9,1,140,27,NZ
19,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,SA
20,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178+,29.21,3,6,2,37,2,ENG
21,KS Williamson (NZ),2010-2023,95,166,16,8239,251,54.92,16014,51.44,29,33,10,910,21,NZ
22,KS Williamson (NZ),2010-2023,95,166,16,8239,251,54.92,16014,51.44,29,33,10,910,21,NZ
23,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65,1,WI
24,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,IND
25,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16,AUS
26,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108+,63.88,9,14,3,115,6,SA
27,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437+,54.04,51,68,14,2058,69,IND
28,M Labuschagne (AUS),2018-2023,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12,AUS
29,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88,WI
30,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788,48,PAK
31,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,IND
32,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,PAK
33,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,PAK
34,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,AUS
35,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035+,44.86,3,9,1,102,3,AUS
36,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20,ZIM
37,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,AUS
38,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36,WI
39,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184+,43.35,34,45,12,908,26,IND
40,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,AUS
41,Abdullah Shafique (PAK),2021-2023,14,26,2,1220,201,50.83,2764,44.13,4,4,2,119,18,PAK
42,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,AUS
43,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64,SA
44,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002+,41.09,27,63,11,1161,28,AUS
45,JE Root (ENG),2012-2023,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43,ENG
46,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10,952,84,WI
47,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731+,38.81,17,28,10,342,3,ENG
48,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,SL
49,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,PAK
50,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488+,40.16,9,22,11,240,11,WI
51,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619+,30.04,4,3,3,38,0,ENG
52,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,IND
53,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24,IND
54,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5,PAK
55,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39,AUS
56,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885+,37.74,3,9,2,123,20,SA
57,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3,41,1,SA
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,-,-,5,6,3,51,0,ENG
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,SL
60,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427,1,AUS
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,AUS
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,SA
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,AUS
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,AUS
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,ENG

In [15]:
data['Player']

0             DG Bradman (AUS)
1               HC Brook (ENG)
2               AC Voges (AUS)
3              RG Pollock (SA)
4              RG Pollock (SA)
5              GA Headley (WI)
6            H Sutcliffe (ENG)
7              E Paynter (ENG)
8          KF Barrington (ENG)
9               ED Weekes (WI)
10             SPD Smith (AUS)
11            WR Hammond (ENG)
12              GS Sobers (WI)
13          KC Sangakkara (SL)
14          KC Sangakkara (SL)
15              JB Hobbs (ENG)
16             CL Walcott (WI)
17              L Hutton (ENG)
18            DJ Mitchell (NZ)
19          JH Kallis (ICC/SA)
20          GE Tyldesley (ENG)
21          KS Williamson (NZ)
22          KS Williamson (NZ)
23               CA Davis (WI)
24             VG Kambli (IND)
25           GS Chappell (AUS)
26              AD Nourse (SA)
27          SR Tendulkar (IND)
28         M Labuschagne (AUS)
29            BC Lara (ICC/WI)
30         Javed Miandad (PAK)
31          R Dravid (ICC/IND)
32       Mohammad Yousuf (PAK)
33           Younis Khan (PAK)
34            RT Ponting (AUS)
35               J Ryder (AUS)
36              A Flower (ZIM)
37            MEK Hussey (AUS)
38          S Chanderpaul (WI)
39           SM Gavaskar (IND)
40              SR Waugh (AUS)
41     Abdullah Shafique (PAK)
42             ML Hayden (AUS)
43         AB de Villiers (SA)
44             AR Border (AUS)
45               JE Root (ENG)
46           IVA Richards (WI)
47           DCS Compton (ENG)
48       DPMD Jayawardene (SL)
49    Inzamam-ul-Haq (ICC/PAK)
50            FMM Worrell (WI)
51               CP Mead (ENG)
52          V Sehwag (ICC/IND)
53               V Kohli (IND)
54              Abid Ali (PAK)
55             MJ Clarke (AUS)
56               KC Bland (SA)
57             B Mitchell (SA)
58        Hon.FS Jackson (ENG)
59         TT Samaraweera (SL)
60             RN Harvey (AUS)
61            KD Walters (AUS)
62           GC Smith (ICC/SA)
63           WH Ponsford (AUS)
64             SJ McCabe (AUS)
65            DR Jardine (ENG)
Name: Player, dtype: object

In [16]:
data["Player"].str.split("(")

0             [DG Bradman , AUS)]
1               [HC Brook , ENG)]
2               [AC Voges , AUS)]
3              [RG Pollock , SA)]
4              [RG Pollock , SA)]
5              [GA Headley , WI)]
6            [H Sutcliffe , ENG)]
7              [E Paynter , ENG)]
8          [KF Barrington , ENG)]
9               [ED Weekes , WI)]
10             [SPD Smith , AUS)]
11            [WR Hammond , ENG)]
12              [GS Sobers , WI)]
13          [KC Sangakkara , SL)]
14          [KC Sangakkara , SL)]
15              [JB Hobbs , ENG)]
16             [CL Walcott , WI)]
17              [L Hutton , ENG)]
18            [DJ Mitchell , NZ)]
19          [JH Kallis , ICC/SA)]
20          [GE Tyldesley , ENG)]
21          [KS Williamson , NZ)]
22          [KS Williamson , NZ)]
23               [CA Davis , WI)]
24             [VG Kambli , IND)]
25           [GS Chappell , AUS)]
26              [AD Nourse , SA)]
27          [SR Tendulkar , IND)]
28         [M Labuschagne , AUS)]
29            [BC Lara , ICC/WI)]
30         [Javed Miandad , PAK)]
31          [R Dravid , ICC/IND)]
32       [Mohammad Yousuf , PAK)]
33           [Younis Khan , PAK)]
34            [RT Ponting , AUS)]
35               [J Ryder , AUS)]
36              [A Flower , ZIM)]
37            [MEK Hussey , AUS)]
38          [S Chanderpaul , WI)]
39           [SM Gavaskar , IND)]
40              [SR Waugh , AUS)]
41     [Abdullah Shafique , PAK)]
42             [ML Hayden , AUS)]
43         [AB de Villiers , SA)]
44             [AR Border , AUS)]
45               [JE Root , ENG)]
46           [IVA Richards , WI)]
47           [DCS Compton , ENG)]
48       [DPMD Jayawardene , SL)]
49    [Inzamam-ul-Haq , ICC/PAK)]
50            [FMM Worrell , WI)]
51               [CP Mead , ENG)]
52          [V Sehwag , ICC/IND)]
53               [V Kohli , IND)]
54              [Abid Ali , PAK)]
55             [MJ Clarke , AUS)]
56               [KC Bland , SA)]
57             [B Mitchell , SA)]
58        [Hon.FS Jackson , ENG)]
59         [TT Samaraweera , SL)]
60             [RN Harvey , AUS)]
61            [KD Walters , AUS)]
62           [GC Smith , ICC/SA)]
63           [WH Ponsford , AUS)]
64             [SJ McCabe , AUS)]
65            [DR Jardine , ENG)]
Name: Player, dtype: object

In [17]:
data["Player"].str.split("(").str[0]

0            DG Bradman
1              HC Brook
2              AC Voges
3            RG Pollock
4            RG Pollock
5            GA Headley
6           H Sutcliffe
7             E Paynter
8         KF Barrington
9             ED Weekes
10            SPD Smith
11           WR Hammond
12            GS Sobers
13        KC Sangakkara
14        KC Sangakkara
15             JB Hobbs
16           CL Walcott
17             L Hutton
18          DJ Mitchell
19            JH Kallis
20         GE Tyldesley
21        KS Williamson
22        KS Williamson
23             CA Davis
24            VG Kambli
25          GS Chappell
26            AD Nourse
27         SR Tendulkar
28        M Labuschagne
29              BC Lara
30        Javed Miandad
31             R Dravid
32      Mohammad Yousuf
33          Younis Khan
34           RT Ponting
35              J Ryder
36             A Flower
37           MEK Hussey
38        S Chanderpaul
39          SM Gavaskar
40             SR Waugh
41    Abdullah Shafique
42            ML Hayden
43       AB de Villiers
44            AR Border
45              JE Root
46         IVA Richards
47          DCS Compton
48     DPMD Jayawardene
49       Inzamam-ul-Haq
50          FMM Worrell
51              CP Mead
52             V Sehwag
53              V Kohli
54             Abid Ali
55            MJ Clarke
56             KC Bland
57           B Mitchell
58       Hon.FS Jackson
59       TT Samaraweera
60            RN Harvey
61           KD Walters
62             GC Smith
63          WH Ponsford
64            SJ McCabe
65           DR Jardine
Name: Player, dtype: object

In [18]:
data["Player"].str.split("(").str[0].str.strip()

0            DG Bradman
1              HC Brook
2              AC Voges
3            RG Pollock
4            RG Pollock
5            GA Headley
6           H Sutcliffe
7             E Paynter
8         KF Barrington
9             ED Weekes
10            SPD Smith
11           WR Hammond
12            GS Sobers
13        KC Sangakkara
14        KC Sangakkara
15             JB Hobbs
16           CL Walcott
17             L Hutton
18          DJ Mitchell
19            JH Kallis
20         GE Tyldesley
21        KS Williamson
22        KS Williamson
23             CA Davis
24            VG Kambli
25          GS Chappell
26            AD Nourse
27         SR Tendulkar
28        M Labuschagne
29              BC Lara
30        Javed Miandad
31             R Dravid
32      Mohammad Yousuf
33          Younis Khan
34           RT Ponting
35              J Ryder
36             A Flower
37           MEK Hussey
38        S Chanderpaul
39          SM Gavaskar
40             SR Waugh
41    Abdullah Shafique
42            ML Hayden
43       AB de Villiers
44            AR Border
45              JE Root
46         IVA Richards
47          DCS Compton
48     DPMD Jayawardene
49       Inzamam-ul-Haq
50          FMM Worrell
51              CP Mead
52             V Sehwag
53              V Kohli
54             Abid Ali
55            MJ Clarke
56             KC Bland
57           B Mitchell
58       Hon.FS Jackson
59       TT Samaraweera
60            RN Harvey
61           KD Walters
62             GC Smith
63          WH Ponsford
64            SJ McCabe
65           DR Jardine
Name: Player, dtype: object

In [19]:
data["Player"]=data["Player"].str.split("(").str[0].str.strip()

In [20]:
data[:]     #after pd.set option query.....this query shows all columns and rows..

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,AUS
1,HC Brook,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,ENG
2,AC Voges,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
4,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
5,GA Headley,1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,WI
6,H Sutcliffe,1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6,ENG
7,E Paynter,1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125,4,ENG
8,KF Barrington,1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591,27,ENG
9,ED Weekes,1948-1958,48,81,5,4455,207,58.61,-,-,15,19,6,258,2,WI
10,SPD Smith,2010-2023,102,181,22,9320,239,58.61,17292,53.89,32,39,9,1026,52,AUS
11,WR Hammond,1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419,27,ENG
12,GS Sobers,1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32,WI
13,KC Sangakkara,2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,SL
14,KC Sangakkara,2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,SL
15,JB Hobbs,1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8,ENG
16,CL Walcott,1948-1960,44,74,7,3798,220,56.68,-,-,15,14,1,107,11,WI
17,L Hutton,1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358,7,ENG
18,DJ Mitchell,2019-2023,19,29,4,1415,190,56.60,2569,55.07,5,9,1,140,27,NZ
19,JH Kallis,1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,SA
20,GE Tyldesley,1921-1929,14,20,2,990,122,55.00,178+,29.21,3,6,2,37,2,ENG
21,KS Williamson,2010-2023,95,166,16,8239,251,54.92,16014,51.44,29,33,10,910,21,NZ
22,KS Williamson,2010-2023,95,166,16,8239,251,54.92,16014,51.44,29,33,10,910,21,NZ
23,CA Davis,1968-1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65,1,WI
24,VG Kambli,1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,IND
25,GS Chappell,1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16,AUS
26,AD Nourse,1935-1951,34,62,7,2960,231,53.81,108+,63.88,9,14,3,115,6,SA
27,SR Tendulkar,1989-2013,200,329,33,15921,248*,53.78,29437+,54.04,51,68,14,2058,69,IND
28,M Labuschagne,2018-2023,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12,AUS
29,BC Lara,1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88,WI
30,Javed Miandad,1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788,48,PAK
31,R Dravid,1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,IND
32,Mohammad Yousuf,1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,PAK
33,Younis Khan,2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,PAK
34,RT Ponting,1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,AUS
35,J Ryder,1920-1929,20,32,5,1394,201*,51.62,2035+,44.86,3,9,1,102,3,AUS
36,A Flower,1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20,ZIM
37,MEK Hussey,2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,AUS
38,S Chanderpaul,1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36,WI
39,SM Gavaskar,1971-1987,125,214,16,10122,236*,51.12,14184+,43.35,34,45,12,908,26,IND
40,SR Waugh,1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,AUS
41,Abdullah Shafique,2021-2023,14,26,2,1220,201,50.83,2764,44.13,4,4,2,119,18,PAK
42,ML Hayden,1994-2009,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,AUS
43,AB de Villiers,2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64,SA
44,AR Border,1978-1994,156,265,44,11174,205,50.56,27002+,41.09,27,63,11,1161,28,AUS
45,JE Root,2012-2023,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43,ENG
46,IVA Richards,1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10,952,84,WI
47,DCS Compton,1937-1957,78,131,15,5807,278,50.06,2731+,38.81,17,28,10,342,3,ENG
48,DPMD Jayawardene,1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,SL
49,Inzamam-ul-Haq,1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,PAK
50,FMM Worrell,1948-1963,51,87,9,3860,261,49.48,488+,40.16,9,22,11,240,11,WI
51,CP Mead,1911-1928,17,26,2,1185,182*,49.37,619+,30.04,4,3,3,38,0,ENG
52,V Sehwag,2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,IND
53,V Kohli,2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24,IND
54,Abid Ali,2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5,PAK
55,MJ Clarke,2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39,AUS
56,KC Bland,1961-1966,21,39,5,1669,144*,49.08,885+,37.74,3,9,2,123,20,SA
57,B Mitchell,1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3,41,1,SA
58,Hon.FS Jackson,1893-1905,20,33,4,1415,144*,48.79,-,-,5,6,3,51,0,ENG
59,TT Samaraweera,2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,SL
60,RN Harvey,1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427,1,AUS
61,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,AUS
62,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,SA
63,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,AUS
64,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,AUS
65,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,ENG

In [21]:
data["Span"]

0     1928-1948
1     2022-2023
2     2015-2016
3     1963-1970
4     1963-1970
5     1930-1954
6     1924-1935
7     1931-1939
8     1955-1968
9     1948-1958
10    2010-2023
11    1927-1947
12    1954-1974
13    2000-2015
14    2000-2015
15    1908-1930
16    1948-1960
17    1937-1955
18    2019-2023
19    1995-2013
20    1921-1929
21    2010-2023
22    2010-2023
23    1968-1973
24    1993-1995
25    1970-1984
26    1935-1951
27    1989-2013
28    2018-2023
29    1990-2006
30    1976-1993
31    1996-2012
32    1998-2010
33    2000-2017
34    1995-2012
35    1920-1929
36    1992-2002
37    2005-2013
38    1994-2015
39    1971-1987
40    1985-2004
41    2021-2023
42    1994-2009
43    2004-2018
44    1978-1994
45    2012-2023
46    1974-1991
47    1937-1957
48    1997-2014
49    1992-2007
50    1948-1963
51    1911-1928
52    2001-2013
53    2011-2023
54    2019-2021
55    2004-2015
56    1961-1966
57    1929-1949
58    1893-1905
59    2001-2013
60    1948-1963
61    1965-1981
62    2002-2014
63    1924-1934
64    1930-1938
65    1928-1934
Name: Span, dtype: object

In [22]:
data["Span"].str.split("-")

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
4     [1963, 1970]
5     [1930, 1954]
6     [1924, 1935]
7     [1931, 1939]
8     [1955, 1968]
9     [1948, 1958]
10    [2010, 2023]
11    [1927, 1947]
12    [1954, 1974]
13    [2000, 2015]
14    [2000, 2015]
15    [1908, 1930]
16    [1948, 1960]
17    [1937, 1955]
18    [2019, 2023]
19    [1995, 2013]
20    [1921, 1929]
21    [2010, 2023]
22    [2010, 2023]
23    [1968, 1973]
24    [1993, 1995]
25    [1970, 1984]
26    [1935, 1951]
27    [1989, 2013]
28    [2018, 2023]
29    [1990, 2006]
30    [1976, 1993]
31    [1996, 2012]
32    [1998, 2010]
33    [2000, 2017]
34    [1995, 2012]
35    [1920, 1929]
36    [1992, 2002]
37    [2005, 2013]
38    [1994, 2015]
39    [1971, 1987]
40    [1985, 2004]
41    [2021, 2023]
42    [1994, 2009]
43    [2004, 2018]
44    [1978, 1994]
45    [2012, 2023]
46    [1974, 1991]
47    [1937, 1957]
48    [1997, 2014]
49    [1992, 2007]
50    [1948, 1963]
51    [1911, 1928]
52    [2001, 2013]
53    [2011, 2023]
54    [2019, 2021]
55    [2004, 2015]
56    [1961, 1966]
57    [1929, 1949]
58    [1893, 1905]
59    [2001, 2013]
60    [1948, 1963]
61    [1965, 1981]
62    [2002, 2014]
63    [1924, 1934]
64    [1930, 1938]
65    [1928, 1934]
Name: Span, dtype: object

In [23]:
data["Span"].str.split("-").str[0]

0     1928
1     2022
2     2015
3     1963
4     1963
5     1930
6     1924
7     1931
8     1955
9     1948
10    2010
11    1927
12    1954
13    2000
14    2000
15    1908
16    1948
17    1937
18    2019
19    1995
20    1921
21    2010
22    2010
23    1968
24    1993
25    1970
26    1935
27    1989
28    2018
29    1990
30    1976
31    1996
32    1998
33    2000
34    1995
35    1920
36    1992
37    2005
38    1994
39    1971
40    1985
41    2021
42    1994
43    2004
44    1978
45    2012
46    1974
47    1937
48    1997
49    1992
50    1948
51    1911
52    2001
53    2011
54    2019
55    2004
56    1961
57    1929
58    1893
59    2001
60    1948
61    1965
62    2002
63    1924
64    1930
65    1928
Name: Span, dtype: object

In [24]:
data["Span"].str.split("-").str[1]

0     1948
1     2023
2     2016
3     1970
4     1970
5     1954
6     1935
7     1939
8     1968
9     1958
10    2023
11    1947
12    1974
13    2015
14    2015
15    1930
16    1960
17    1955
18    2023
19    2013
20    1929
21    2023
22    2023
23    1973
24    1995
25    1984
26    1951
27    2013
28    2023
29    2006
30    1993
31    2012
32    2010
33    2017
34    2012
35    1929
36    2002
37    2013
38    2015
39    1987
40    2004
41    2023
42    2009
43    2018
44    1994
45    2023
46    1991
47    1957
48    2014
49    2007
50    1963
51    1928
52    2013
53    2023
54    2021
55    2015
56    1966
57    1949
58    1905
59    2013
60    1963
61    1981
62    2014
63    1934
64    1938
65    1934
Name: Span, dtype: object

In [25]:
data["Debut Year"]=data["Span"].str.split("-").str[0]

In [26]:
data["Ending Year*"]=data["Span"].str.split("-").str[1]

In [27]:
data.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country,Debut Year,Ending Year*
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,AUS,1928,1948
1,HC Brook,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,ENG,2022,2023
2,AC Voges,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS,2015,2016
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA,1963,1970
4,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA,1963,1970

In [28]:
data.drop("Span",axis=1,inplace=True)

In [29]:
data.head(1)

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country,Debut Year,Ending Year*
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,AUS,1928,1948

In [30]:
data.dtypes

Player           object
Mat               int64
Inns              int64
NO                int64
Runs              int64
HS               object
Ave             float64
BF               object
SR               object
100               int64
50                int64
0                 int64
4s                int64
6s                int64
Country          object
Debut Year       object
Ending Year*     object
dtype: object

In [31]:
#Here debut and ending year data rtpes is object(string) and i want to minus(-) the ending and debut year
#so first change data type object to int and then perform query...

In [32]:
data["Debut Year"]=data["Debut Year"].astype("int")

In [33]:
data["Ending Year*"]=data["Ending Year*"].astype("int")

In [34]:
data.dtypes

Player           object
Mat               int64
Inns              int64
NO                int64
Runs              int64
HS               object
Ave             float64
BF               object
SR               object
100               int64
50                int64
0                 int64
4s                int64
6s                int64
Country          object
Debut Year        int32
Ending Year*      int32
dtype: object

In [35]:
data["Career_Length"]=data["Ending Year*"]-data["Debut Year"]

In [36]:
data.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country,Debut Year,Ending Year*,Career_Length
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,AUS,1928,1948,20
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,ENG,2022,2023,1
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS,2015,2016,1
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA,1963,1970,7
4,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA,1963,1970,7

In [37]:
data.columns

Index(['Player', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100',
       '50', '0', '4s', '6s', 'Country', 'Debut Year', 'Ending Year*',
       'Career_Length'],
      dtype='object')

In [38]:
data=data[['Player','Country' ,'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100',
       '50', '0', '4s', '6s', 'Debut Year', 'Ending Year*',
       'Career_Length']]

#this query for change the order of rows....

In [39]:
data.head(1)

,Player,Country,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,20

In [40]:
data.columns

Index(['Player', 'Country', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF',
       'SR', '100', '50', '0', '4s', '6s', 'Debut Year', 'Ending Year*',
       'Career_Length'],
      dtype='object')

In [41]:
a={"Mat":"Matches","Inns":"Innings","NO":"Not Out","HS":"High Score" } 

#first method of change columns name using dictinory....

In [42]:
data.rename(columns=a,inplace=True)

In [43]:
data.head(1)

,Player,Country,Matches,Innings,Not Out,Runs,High Score,Ave,BF,SR,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,20

In [44]:
data.columns

Index(['Player', 'Country', 'Matches', 'Innings', 'Not Out', 'Runs',
       'High Score', 'Ave', 'BF', 'SR', '100', '50', '0', '4s', '6s',
       'Debut Year', 'Ending Year*', 'Career_Length'],
      dtype='object')

In [45]:
data.columns=['Player', 'Country', 'Matches', 'Innings', 'Not Out', 'Runs',
       'High Score', 'Average', 'Ball Faced', 'Strike Rate', '100', '50', '0', '4s', '6s',
       'Debut Year', 'Ending Year*', 'Career_Length']

#second method of change columns names using list method and this method is very esay....
#first method is just for information and interview question....
#use always second method for change columns names..

In [46]:
data.head(1)

,Player,Country,Matches,Innings,Not Out,Runs,High Score,Average,Ball Faced,Strike Rate,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,20

In [47]:
data[data["Ball Faced"]=="-"]

,Player,Country,Matches,Innings,Not Out,Runs,High Score,Average,Ball Faced,Strike Rate,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
9,ED Weekes,WI,48,81,5,4455,207,58.61,-,-,15,19,6,258,2,1948,1958,10
16,CL Walcott,WI,44,74,7,3798,220,56.68,-,-,15,14,1,107,11,1948,1960,12
58,Hon.FS Jackson,ENG,20,33,4,1415,144*,48.79,-,-,5,6,3,51,0,1893,1905,12

In [48]:
data.dtypes

Player            object
Country           object
Matches            int64
Innings            int64
Not Out            int64
Runs               int64
High Score        object
Average          float64
Ball Faced        object
Strike Rate       object
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Debut Year         int32
Ending Year*       int32
Career_Length      int32
dtype: object

In [49]:
data[(data["Matches"]>=50) & (data["Matches"]<=60)]

,Player,Country,Matches,Innings,Not Out,Runs,High Score,Average,Ball Faced,Strike Rate,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,20
6,H Sutcliffe,ENG,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6,1924,1935,11
50,FMM Worrell,WI,51,87,9,3860,261,49.48,488+,40.16,9,22,11,240,11,1948,1963,15

In [50]:
data[(data["Matches"]>=50) & (data["Matches"]<=60)]["Strike Rate"]

0     58.60
6     34.59
50    40.16
Name: Strike Rate, dtype: object

In [51]:
data["Strike Rate"]=data["Strike Rate"].replace("-","0.0")

In [52]:
data["Strike Rate"]=data["Strike Rate"].astype("float")

In [53]:
data.dtypes

Player            object
Country           object
Matches            int64
Innings            int64
Not Out            int64
Runs               int64
High Score        object
Average          float64
Ball Faced        object
Strike Rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Debut Year         int32
Ending Year*       int32
Career_Length      int32
dtype: object

In [54]:
data[(data["Matches"]>=50) & (data["Matches"]<=60)]["Strike Rate"].mean()  #strike rate mean.

44.449999999999996

In [55]:
x=data[(data["Matches"]>=50) & (data["Matches"]<=60)]["Strike Rate"].mean()  #strike rate mean.

In [56]:
data["Strike Rate"]=data["Strike Rate"].replace(0.0,x)

In [57]:
data["Strike Rate"]

0     58.60
1     91.76
2     55.68
3     54.48
4     54.48
5     56.00
6     34.59
7     45.88
8     42.42
9     44.45
10    53.89
11    38.07
12    53.58
13    54.19
14    54.19
15    46.22
16    44.45
17    39.34
18    55.07
19    45.97
20    29.21
21    51.44
22    51.44
23    35.48
24    59.46
25    51.53
26    63.88
27    54.04
28    53.02
29    60.51
30    45.99
31    42.51
32    52.39
33    52.12
34    58.72
35    44.86
36    45.07
37    50.13
38    43.31
39    43.35
40    48.64
41    44.13
42    60.10
43    54.51
44    41.09
45    56.75
46    69.77
47    38.81
48    51.45
49    54.02
50    40.16
51    30.04
52    82.23
53    55.23
54    48.26
55    55.92
56    37.74
57    29.11
58    44.45
59    46.92
60    43.74
61    49.16
62    59.67
63    44.77
64    60.02
65    25.59
Name: Strike Rate, dtype: float64

In [58]:
data["Ball Faced"]

0      9800+
1       1287
2       2667
3      1707+
4      1707+
5       416+
6      6558+
7      1288+
8      4957+
9          -
10     17292
11     7491+
12     4063+
13     22882
14     22882
15     5363+
16         -
17     2844+
18      2569
19     28903
20      178+
21     16014
22     16014
23      665+
24      1823
25    13079+
26      108+
27    29437+
28      7146
29     19753
30    15164+
31     31258
32     14372
33     19375
34     22782
35     2035+
36     10636
37     12436
38     27395
39    14184+
40     22461
41      2764
42     14349
43     16077
44    27002+
45     20113
46     9613+
47     2731+
48     22959
49     16345
50      488+
51      619+
52     10441
53     15708
54      2445
55     15456
56      885+
57      158+
58         -
59     11641
60     1799+
61     8662+
62     15525
63     3118+
64     3217+
65     2110+
Name: Ball Faced, dtype: object

In [59]:
data.dtypes

Player            object
Country           object
Matches            int64
Innings            int64
Not Out            int64
Runs               int64
High Score        object
Average          float64
Ball Faced        object
Strike Rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Debut Year         int32
Ending Year*       int32
Career_Length      int32
dtype: object

In [61]:
data[data["Ball Faced"]=="-"]

,Player,Country,Matches,Innings,Not Out,Runs,High Score,Average,Ball Faced,Strike Rate,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
9,ED Weekes,WI,48,81,5,4455,207,58.61,-,44.45,15,19,6,258,2,1948,1958,10
16,CL Walcott,WI,44,74,7,3798,220,56.68,-,44.45,15,14,1,107,11,1948,1960,12
58,Hon.FS Jackson,ENG,20,33,4,1415,144*,48.79,-,44.45,5,6,3,51,0,1893,1905,12

In [63]:
data["Ball Faced"].dtype    #in output (O) is object..

dtype('O')

In [79]:
data["Ball Faced"]=data["Ball Faced"].replace("-","0")

In [81]:
data["Ball Faced"]=data["Ball Faced"].replace("0.0","0")

In [83]:
data["Ball Faced"]

0      9800
1      1287
2      2667
3      1707
4      1707
5       416
6      6558
7      1288
8      4957
9         0
10    17292
11     7491
12     4063
13    22882
14    22882
15     5363
16        0
17     2844
18     2569
19    28903
20      178
21    16014
22    16014
23      665
24     1823
25    13079
26      108
27    29437
28     7146
29    19753
30    15164
31    31258
32    14372
33    19375
34    22782
35     2035
36    10636
37    12436
38    27395
39    14184
40    22461
41     2764
42    14349
43    16077
44    27002
45    20113
46     9613
47     2731
48    22959
49    16345
50      488
51      619
52    10441
53    15708
54     2445
55    15456
56      885
57      158
58        0
59    11641
60     1799
61     8662
62    15525
63     3118
64     3217
65     2110
Name: Ball Faced, dtype: object

In [84]:
data[data["Ball Faced"]=="0"]

,Player,Country,Matches,Innings,Not Out,Runs,High Score,Average,Ball Faced,Strike Rate,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
9,ED Weekes,WI,48,81,5,4455,207,58.61,0,44.45,15,19,6,258,2,1948,1958,10
16,CL Walcott,WI,44,74,7,3798,220,56.68,0,44.45,15,14,1,107,11,1948,1960,12
58,Hon.FS Jackson,ENG,20,33,4,1415,144*,48.79,0,44.45,5,6,3,51,0,1893,1905,12

In [75]:
data["Ball Faced"]=data["Ball Faced"].replace("[+]","",regex=True)

In [85]:
data["Ball Faced"]

0      9800
1      1287
2      2667
3      1707
4      1707
5       416
6      6558
7      1288
8      4957
9         0
10    17292
11     7491
12     4063
13    22882
14    22882
15     5363
16        0
17     2844
18     2569
19    28903
20      178
21    16014
22    16014
23      665
24     1823
25    13079
26      108
27    29437
28     7146
29    19753
30    15164
31    31258
32    14372
33    19375
34    22782
35     2035
36    10636
37    12436
38    27395
39    14184
40    22461
41     2764
42    14349
43    16077
44    27002
45    20113
46     9613
47     2731
48    22959
49    16345
50      488
51      619
52    10441
53    15708
54     2445
55    15456
56      885
57      158
58        0
59    11641
60     1799
61     8662
62    15525
63     3118
64     3217
65     2110
Name: Ball Faced, dtype: object

In [86]:
data.dtypes

Player            object
Country           object
Matches            int64
Innings            int64
Not Out            int64
Runs               int64
High Score        object
Average          float64
Ball Faced        object
Strike Rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Debut Year         int32
Ending Year*       int32
Career_Length      int32
dtype: object

In [87]:
data["Ball Faced"]=data["Ball Faced"].astype("int")

In [88]:
data["Ball Faced"].dtype

dtype('int32')

In [89]:
data[data["Ball Faced"]==0]

,Player,Country,Matches,Innings,Not Out,Runs,High Score,Average,Ball Faced,Strike Rate,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
9,ED Weekes,WI,48,81,5,4455,207,58.61,0,44.45,15,19,6,258,2,1948,1958,10
16,CL Walcott,WI,44,74,7,3798,220,56.68,0,44.45,15,14,1,107,11,1948,1960,12
58,Hon.FS Jackson,ENG,20,33,4,1415,144*,48.79,0,44.45,5,6,3,51,0,1893,1905,12

In [90]:
data[data["Player"]=="ED Weekes"]

,Player,Country,Matches,Innings,Not Out,Runs,High Score,Average,Ball Faced,Strike Rate,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
9,ED Weekes,WI,48,81,5,4455,207,58.61,0,44.45,15,19,6,258,2,1948,1958,10

In [91]:
data[data["Player"]=="ED Weekes"][["Runs","Strike Rate"]]

   Runs  Strike Rate
9  4455        44.45

In [92]:
data[data["Player"]=="ED Weekes"]["Runs"]*2

9    8910
Name: Runs, dtype: int64

In [100]:
data["Ball Faced"].replace(0,8910,inplace=True)

In [101]:
data

,Player,Country,Matches,Innings,Not Out,Runs,High Score,Average,Ball Faced,Strike Rate,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,20
1,HC Brook,ENG,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,1
2,AC Voges,AUS,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,1
3,RG Pollock,SA,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,7
4,RG Pollock,SA,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,7
5,GA Headley,WI,22,40,4,2190,270*,60.83,416,56.00,10,5,2,104,1,1930,1954,24
6,H Sutcliffe,ENG,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,11
7,E Paynter,ENG,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,8
8,KF Barrington,ENG,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,13
9,ED Weekes,WI,48,81,5,4455,207,58.61,8910,44.45,15,19,6,258,2,1948,1958,10
10,SPD Smith,AUS,102,181,22,9320,239,58.61,17292,53.89,32,39,9,1026,52,2010,2023,13
11,WR Hammond,ENG,85,140,16,7249,336*,58.45,7491,38.07,22,24,4,419,27,1927,1947,20
12,GS Sobers,WI,93,160,21,8032,365*,57.78,4063,53.58,26,30,12,593,32,1954,1974,20
13,KC Sangakkara,SL,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,15
14,KC Sangakkara,SL,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,15
15,JB Hobbs,ENG,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,22
16,CL Walcott,WI,44,74,7,3798,220,56.68,8910,44.45,15,14,1,107,11,1948,1960,12
17,L Hutton,ENG,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,18
18,DJ Mitchell,NZ,19,29,4,1415,190,56.60,2569,55.07,5,9,1,140,27,2019,2023,4
19,JH Kallis,SA,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,18
20,GE Tyldesley,ENG,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,8
21,KS Williamson,NZ,95,166,16,8239,251,54.92,16014,51.44,29,33,10,910,21,2010,2023,13
22,KS Williamson,NZ,95,166,16,8239,251,54.92,16014,51.44,29,33,10,910,21,2010,2023,13
23,CA Davis,WI,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,5
24,VG Kambli,IND,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,2
25,GS Chappell,AUS,87,151,19,7110,247*,53.86,13079,51.53,24,31,12,755,16,1970,1984,14
26,AD Nourse,SA,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,16
27,SR Tendulkar,IND,200,329,33,15921,248*,53.78,29437,54.04,51,68,14,2058,69,1989,2013,24
28,M Labuschagne,AUS,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12,2018,2023,5
29,BC Lara,WI,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88,1990,2006,16
30,Javed Miandad,PAK,124,189,21,8832,280*,52.57,15164,45.99,23,43,6,788,48,1976,1993,17
31,R Dravid,IND,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,16
32,Mohammad Yousuf,PAK,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,12
33,Younis Khan,PAK,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,17
34,RT Ponting,AUS,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,17
35,J Ryder,AUS,20,32,5,1394,201*,51.62,2035,44.86,3,9,1,102,3,1920,1929,9
36,A Flower,ZIM,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20,1992,2002,10
37,MEK Hussey,AUS,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,8
38,S Chanderpaul,WI,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36,1994,2015,21
39,SM Gavaskar,IND,125,214,16,10122,236*,51.12,14184,43.35,34,45,12,908,26,1971,1987,16
40,SR Waugh,AUS,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,19
41,Abdullah Shafique,PAK,14,26,2,1220,201,50.83,2764,44.13,4,4,2,119,18,2021,2023,2
42,ML Hayden,AUS,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,15
43,AB de Villiers,SA,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64,2004,2018,14
44,AR Border,AUS,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,16
45,JE Root,ENG,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43,2012,2023,11
46,IVA Richards,WI,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,17
47,DCS Compton,ENG,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,20
48,DPMD Jayawardene,SL,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,17
49,Inzamam-ul-Haq,PAK,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,15
50,FMM Worrell,WI,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,15
51,CP Mead,ENG,17,26,2,1185,182*,49.37,619,30.04,4,3,3,38,0,1911,1928,17
52,V Sehwag,IND,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,12
53,V Kohli,IND,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24,2011,2023,12
54,Abid Ali,PAK,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5,2019,2021,2
55,MJ Clarke,AUS,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39,2004,2015,11
56,KC Bland,SA,21,39,5,1669,144*,49.08,885,37.74,3,9,2,123,20,1961,1966,5
57,B Mitchell,SA,42,80,9,3471,189*,48.88,158,29.11,8,21,3,41,1,1929,1949,20
58,Hon.FS Jackson,ENG,20,33,4,1415,144*,48.79,8910,44.45,5,6,3,51,0,1893,1905,12
59,TT Samaraweera,SL,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,12
60,RN Harvey,AUS,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,15
61,KD Walters,AUS,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,16
62,GC Smith,SA,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,12
63,WH Ponsford,AUS,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,10
64,SJ McCabe,AUS,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,8
65,DR Jardine,ENG,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,6

In [102]:
data["High Score"]=data["High Score"].replace("[*]","",regex=True)

In [103]:
data

,Player,Country,Matches,Innings,Not Out,Runs,High Score,Average,Ball Faced,Strike Rate,100,50,0,4s,6s,Debut Year,Ending Year*,Career_Length
0,DG Bradman,AUS,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,20
1,HC Brook,ENG,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,1
2,AC Voges,AUS,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,1
3,RG Pollock,SA,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,7
4,RG Pollock,SA,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,7
5,GA Headley,WI,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,24
6,H Sutcliffe,ENG,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,11
7,E Paynter,ENG,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,8
8,KF Barrington,ENG,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,13
9,ED Weekes,WI,48,81,5,4455,207,58.61,8910,44.45,15,19,6,258,2,1948,1958,10
10,SPD Smith,AUS,102,181,22,9320,239,58.61,17292,53.89,32,39,9,1026,52,2010,2023,13
11,WR Hammond,ENG,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,20
12,GS Sobers,WI,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,20
13,KC Sangakkara,SL,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,15
14,KC Sangakkara,SL,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,15
15,JB Hobbs,ENG,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,22
16,CL Walcott,WI,44,74,7,3798,220,56.68,8910,44.45,15,14,1,107,11,1948,1960,12
17,L Hutton,ENG,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,18
18,DJ Mitchell,NZ,19,29,4,1415,190,56.60,2569,55.07,5,9,1,140,27,2019,2023,4
19,JH Kallis,SA,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,18
20,GE Tyldesley,ENG,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,8
21,KS Williamson,NZ,95,166,16,8239,251,54.92,16014,51.44,29,33,10,910,21,2010,2023,13
22,KS Williamson,NZ,95,166,16,8239,251,54.92,16014,51.44,29,33,10,910,21,2010,2023,13
23,CA Davis,WI,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,5
24,VG Kambli,IND,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,2
25,GS Chappell,AUS,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,14
26,AD Nourse,SA,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,16
27,SR Tendulkar,IND,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,24
28,M Labuschagne,AUS,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12,2018,2023,5
29,BC Lara,WI,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,16
30,Javed Miandad,PAK,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,17
31,R Dravid,IND,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,16
32,Mohammad Yousuf,PAK,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,12
33,Younis Khan,PAK,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,17
34,RT Ponting,AUS,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,17
35,J Ryder,AUS,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,9
36,A Flower,ZIM,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,10
37,MEK Hussey,AUS,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,8
38,S Chanderpaul,WI,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,21
39,SM Gavaskar,IND,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,16
40,SR Waugh,AUS,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,19
41,Abdullah Shafique,PAK,14,26,2,1220,201,50.83,2764,44.13,4,4,2,119,18,2021,2023,2
42,ML Hayden,AUS,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,15
43,AB de Villiers,SA,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,14
44,AR Border,AUS,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,16
45,JE Root,ENG,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43,2012,2023,11
46,IVA Richards,WI,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,17
47,DCS Compton,ENG,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,20
48,DPMD Jayawardene,SL,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,17
49,Inzamam-ul-Haq,PAK,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,15
50,FMM Worrell,WI,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,15
51,CP Mead,ENG,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,17
52,V Sehwag,IND,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,12
53,V Kohli,IND,111,187,11,8676,254,49.29,15708,55.23,29,29,14,966,24,2011,2023,12
54,Abid Ali,PAK,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,2
55,MJ Clarke,AUS,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,11
56,KC Bland,SA,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,5
57,B Mitchell,SA,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,20
58,Hon.FS Jackson,ENG,20,33,4,1415,144,48.79,8910,44.45,5,6,3,51,0,1893,1905,12
59,TT Samaraweera,SL,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,12
60,RN Harvey,AUS,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,15
61,KD Walters,AUS,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,16
62,GC Smith,SA,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,12
63,WH Ponsford,AUS,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,10
64,SJ McCabe,AUS,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,8
65,DR Jardine,ENG,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,6

In [104]:
data.dtypes

Player            object
Country           object
Matches            int64
Innings            int64
Not Out            int64
Runs               int64
High Score        object
Average          float64
Ball Faced         int32
Strike Rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Debut Year         int32
Ending Year*       int32
Career_Length      int32
dtype: object

In [105]:
data["High Score"]=data["High Score"].astype("int")

In [106]:
data.dtypes

Player            object
Country           object
Matches            int64
Innings            int64
Not Out            int64
Runs               int64
High Score         int32
Average          float64
Ball Faced         int32
Strike Rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Debut Year         int32
Ending Year*       int32
Career_Length      int32
dtype: object